@import "./global.scss";
@import "./variables.scss";
.header-main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  min-height: 25rem;
  background: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/xcgmjnxyau3pbv11ypwj.jpg)
    no-repeat;
  background-position: 50%;
  background-size: 100%;
  z-index: 1;
  padding: 2rem;
  &::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.238);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: -100;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.773);
    border-radius: 10px;
    padding: 2rem;

    h1 {
      font-size: 2.5rem;
      margin: 0 5rem;
    }
    .header-form {
      z-index: 10;
      background: $surface;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      min-width: 10rem;
      border-radius: 10px;
      min-height: 10rem;
      margin: 0 10rem;
      padding: 3rem 1.5rem;
      box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.498);
      input {
        display: block;
        background: hsl(0, 0%, 100%, 0.09);
        height: 3rem;
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.498);
        font-size: 1.1rem;
        color: white;
      }
      .header--form-input {
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 1rem;
      }
      .header--form-submit {
        border: 0;
        border-radius: 30% 70% 68% 32% / 32% 53% 47% 68%;
        width: 5rem;
        height: 5rem;
        transition: 0.3s all;
        cursor: pointer;
        margin: 0 auto;
        &:hover {
          background: rgb(209, 94, 94);
        }
      }
    }
  }
}
.section-list { 
    background: url(../img/undraw_design_components_9vy6.svg) rgb(181, 93, 93) no-repeat;
    background-size: 50%;
    background-position: 100%;
    width: 100%;
  padding: 3rem;
  .list {
    h1 {
      font-size: 2rem;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    li {
      position: relative;
      font-size: 1.5rem;
      list-style-type: none;
      padding: 0 0 0 1rem;
      &::before{
        background: hsla(0, 0%, 7%, 0.450);
        content: '';
        position: absolute;
        top: 2rem;
        right: 0;
        bottom: 0;
        left: 0;
        width: 20rem;
        height: .1rem;
        border-radius: 10px;

    }
    }
  }
}
